<header>
  <nav class="navbar py-3 navbar-expand-lg navbar-dark" style="background-color: #00695c;">
    <div class="container-fluid">
      <a class="ms-3 navbar-brand" href="/">Book Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-lg fas fa-hamburger"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="ms-5 navbar-nav">
          <% if(isAdmin) { %>
          <li class="mx-3 nav-item">
            <a class="nav-link <%= path === '/admin/add-product' ? 'active' : '' %>" aria-current="page" href="/admin/add-product">Add Book</a>
          </li>
          <li class="mx-3 nav-item">
            <a class="nav-link <%= path === '/admin/add-genre' ? 'active' : '' %>" href="/admin/add-genre">Add Genre</a>
          </li>
          <li class="mx-3 nav-item ">
            <a class="nav-link <%= path === '/admin/delete-book' ? 'active' : '' %>" href="/admin/delete-book">Edit|Delete Books</a>
          </li>
          <% } %>
        </ul>
        <ul class="me-3 ms-auto navbar-nav">
          <% if(!isLoggedIn) { %>
          <li class="mx-3 nav-item">
            <a class="nav-link <%= path === '/login' ? 'active' : '' %>" aria-current="page" href="/login">Login</a>
          </li>
          <li class="mx-3 nav-item">
            <a class="nav-link <%= path === '/signup' ? 'active' : '' %>" aria-current="page" href="/signup">SignUp</a>
          </li>
          <% } %>
          <% if(isLoggedIn) { %>
          <li class="mx-3 nav-item">
            <form action="/logout" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
              <button class="nav-link btn" type="submit">Logout</button>
            </form>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>