<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <div class="row gx-5 ms-5 ">
        <div class="col-3  mx-auto">
          <li class="main-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
          </li>
        </div>
        <% if(isAdmin) { %>
        <div class="col-3  mx-auto">
          <li class="main-header__item">
            <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product" id="widthed">Add Book</a>
          </li>
        </div>
        <div class="col-3  mx-auto">
          <li class="main-header__item">
            <a class="<%= path === '/admin/add-genre' ? 'active' : '' %>" href="/admin/add-genre">Add Genre</a>
          </li>

        </div>
        <div class="col-3  mx-auto">
          <li class="main-header__item">
            <a class="<%= path === '/admin/delete-product' ? 'active' : '' %>" href="/admin/delete-book">Edit/Delete</a>
          </li>
        </div>
        <% } %>
      </div>
    </ul>
    <ul class="main-header__item-list">
      <% if(!isLoggedIn) { %>
      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
      </li>
      <% } %>
      <% if(isLoggedIn) { %>
      <li class="main-header__item">
        <form action="/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>